@font-face{
    font-family: 'Bebas Neue';
    src: url('../../fonts/BebasNeueLight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Bebas Neue';
    src: url('../../fonts/BebasNeueBook.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Bebas Neue';
    src: url('../../fonts/BebasNeueRegular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face{
    font-family: 'Bebas Neue';
    src: url('../../fonts/BebasNeueBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'YanoneKaffeesatz';
    src: url('../../fonts/YanoneKaffeesatz-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'YanoneKaffeesatz';
    src: url('../../fonts/YanoneKaffeesatz-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'YanoneKaffeesatz';
    src: url('../../fonts/YanoneKaffeesatz-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'YanoneKaffeesatz';
    src: url('../../fonts/YanoneKaffeesatz-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


